<div class="accueil-container">
  <h1>Bienvenue au Quiz ! 🎉</h1>

  <label>Catégorie :</label>
  <select [(ngModel)]="selectedCategory">
    <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
  </select>

  <label>Difficulté :</label>
  <select [(ngModel)]="selectedDifficulty">
    <option value="facile">Facile</option>
    <option value="moyen">Moyen</option>
    <option value="difficile">Difficile</option>
  </select>

  <button (click)="demarrerQuiz()">Démarrer</button>
</div>
